<nav class="nav-menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/attendance">Attendance</a></li>
        <li><a href="/addevent">Add Event</a></li>
    </ul>
</nav>
